@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    font-family: 'Poopins', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
}
.dynamic span {
    font-weight: 500;
    font-size: 60px;
    color:rgb(226, 56, 135);
}
.dynamic {
    margin-left: 15px;
    line-height:90px;
    height:90px;
    background: rgb(226, 56, 135);
}

.dynamic span::after {
    content: "";
    position: absolute;
    background-color: transparent;
    left: 57%;
    height:90px;
    width: 15%;
    border-left: 2px solid;
    animation: typing 3s steps(7)
    infinite;
}
@keyframes typing {
    40%, 
    60% {left: calc(68% + 30px);
    }
    100%
    {left:57%}
}

.navbar-nav .nav-link {
    padding: 0 1.5rem;
    color: #ab00a892;
}


.navbar-nav .nav-link:hover { 
    color: rgb(226, 56, 135);
}

.navbar-nav .dropdown-item {
    padding: 0 1.5rem;
    color: #ab00a892;
}

.navbar-nav .dropdown-item:hover {
    color: rgb(226, 56, 135);
}

.section-title {
    margin-bottom: 60px;
}

.section-title .line {
    width: 60px;
    height: 4px;
    background-color: rgb(226, 56, 135);
    margin: 16px auto 24px auto;
}

.section-title p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.iconbox {
    width: 70px;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:rgb(183, 178, 180);
    color:rgb(35, 87, 198);
    font-size: 34px;
}

.about span{
    color: rgb(226, 56, 135);
}

.footer {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #fff;
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer span {
    color: rgb(226, 56, 135);
}