* {

    font-family: 'Poopins', sans-serif;
}

body{
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.nav-link {
    #{$navbar-dark-color: #ab00a892;}
    font-weight: 500;
    position: relative;
}

nav-link:hover, $nav-link.active {
    color: var(--pink);
}